/*-- scss:defaults --*/
// Define your color palette
$primary-color: #043927;  // Dark Green (Navbar & Headers)
$background-color: #E6F4E6; // Very Light Green (Background)

// Base document colors 
$navbar-bg:$primary-color; // Navbar
$body-bg: $background-color; // background: ;